<a mat-flat-button [disableRipple]="true" id="back-button" (click)="goToDashboard()">
  <mat-icon>chevron_left</mat-icon>
  {{ 'employee.employee-add-component.button.back' | translate }}
</a>
<hr />
<div class="upload-container">
  <div class="column column-left">
    <h1>{{ 'employee.employee-add-component.employee-csv-upload.title' | translate }}</h1>
    <p>
      {{ 'employee.employee-add-component.employee-csv-upload.description' | translate }}
    </p>
    <p>
      {{ 'employee.employee-add-component.employee-csv-upload.description-2' | translate }}
      <a class="link">{{ 'employee.employee-add-component.employee-csv-upload.description-2-link' | translate }}</a>
    </p>
  </div>
  <app-upload (csvFileUploaded)="onCSVUpload($event)"></app-upload>
</div>
<hr />
<app-employee-form
  (submitForm)="handleEmployeeCreation($event)"
  [initialValue]="{
    firstName: '',
    lastName: '',
    primaryPhone: '',
    secondaryPhone: '',
    title: '',
    email: '',
    employeeStatus: '',
    employeeRole: '',
    employeeId: ''
  }"
>
</app-employee-form>
