<div class="status-container">
  <div class="status-title">
    {{ getStatusTitle() }}
  </div>
  <div class="status-description">
    {{ getStatusDescription() }}
  </div>
  <a mat-flat-button id="add-another-guest" (click)="goToAddGuest()">
    <mat-icon>add</mat-icon>
    {{ 'guest.guest-creation-status-component.button.add-another-guest' | translate }}
  </a>
  <button type="button" mat-flat-button color="primary" id="navigate-to-dashboard" (click)="goToDashboard()">
    {{ 'guest.guest-creation-status-component.button.back-to-the-overview' | translate }}
  </button>
</div>
