@import '../../../../../styles/variables';

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

a#addGuest {
  background-color: $color-blue;
}

a#addGuest:focus {
  background-color: $color-blue;
  outline: 2px solid $color-grey-5;
}

mat-table {
  width: 100%;
  margin-top: 30px;
  font-weight: $font-weight-100;

  mat-cell {
    color: $color-dark;
    font-size: $font-size-16;
    border-bottom-color: $color-dark;
  }

  mat-header-cell {
    color: $color-grey-3;
    border-bottom-color: $color-dark;
    font-size: $font-size-16;
    font-weight: $font-weight-100;
  }

  #download-email-button {
    cursor: pointer;
  }

  #edit-guest-button {
    margin: 0 10px 0 10px;
  }

  mat-icon {
    color: $color-grey-5;
    cursor: pointer;
  }

  ::ng-deep .last-column {
    display: flex !important;
    justify-content: flex-end !important;
  }

  mat-row,
  mat-header-row {
    border-bottom-color: $color-dark;
  }
}
