<div class="container">
  <div class="row">
    <h1 id="caption">
      {{ 'guest.guest-overview-component.table-title' | translate }}
    </h1>
    <a mat-flat-button [disableRipple]="true" color="primary" id="addGuest" [routerLink]="['../add']">
      <mat-icon
        aria-hidden="false"
        attr.aria-label="{{ 'guest.guest-overview-component.aria-label.table.add-button' | translate }}"
      >
        add
      </mat-icon>
      {{ 'guest.guest-overview-component.table-add-button' | translate }}
    </a>
  </div>
  <div class="table-row">
    <mat-table [dataSource]="dataSource" matSort aria-labelledby="caption">
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>
            {{ 'guest.guest-overview-component.table-headers.first-name' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.firstName }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>
            {{ 'guest.guest-overview-component.table-headers.last-name' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.lastName }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="arriving">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>
            {{ 'guest.guest-overview-component.table-headers.arriving' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.arriving }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="leaving">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>
            {{ 'guest.guest-overview-component.table-headers.leaving' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.leaving }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>
            {{ 'guest.guest-overview-component.table-headers.email' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.email }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>
            {{ 'guest.guest-overview-component.table-headers.location' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.location }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>
            {{ 'guest.guest-overview-component.table-headers.status' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"></mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>
          {{ 'guest.guest-overview-component.table-headers.action' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span
            attr.aria-label="{{
              'guest.guest-overview-component.aria-label.table.action-menu.download-email' | translate
            }}"
            role="button"
            tabindex="0"
            id="download-email-button"
            (click)="downloadEmail(element.id)"
          >
            <mat-icon>email</mat-icon>
          </span>
          <span
            attr.aria-label="{{ 'guest.guest-overview-component.aria-label.table.action-menu.edit-guest' | translate }}"
            role="button"
            tabindex="0"
            id="edit-guest-button"
            (click)="editGuest(element.id)"
          >
            <mat-icon>edit</mat-icon>
          </span>
          <span
            attr.aria-label="{{
              'guest.guest-overview-component.aria-label.table.action-menu.delete-guest' | translate
            }}"
            role="button"
            tabindex="0"
            id="delete-guest-button"
            (click)="openDeleteGuestDialog(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
