@import '../../../styles/variables';

.dialog-container {
  color: $color-dark;
  font-family: 'IBM Plex Sans';

  .dialog-title {
    font-size: $font-size-24;
    font-weight: $font-weight-300;
  }

  .dialog-description {
    margin-top: 16px;
    font-size: $font-size-16;
  }

  .dialog-button {
    height: 42px;
    border-radius: 6px;
    border-style: unset;
    font-size: $font-size-14;
    font-weight: $font-weight-600;
  }

  #dialog-first-button {
    width: 116px;
    margin-right: 7px;
    background-color: $color-white;
    border-color: $color-white;
    color: $color-blue;
  }

  #dialog-second-button {
    width: 134px;
    background-color: $color-blue;
    border-color: $color-blue;
    color: $color-white;
  }
}
