<mat-toolbar role="banner">
  <span> {{ 'header-component.company-name' | translate }}</span>
  <span class="spacer"></span>
  <p>{{ loggedInUser }}</p>
  <div class="avatar"></div>
  <mat-icon
    class="account-icon"
    attr.aria-label="{{ 'header-component.logout-button.aria-label' | translate }}"
    type="button"
    >account_circle</mat-icon
  >
  <p class="logout" *ngIf="loggedInUser" (click)="logout()">
    <mat-icon class="logout-icon">logout</mat-icon>
    <span class="logout-text"> {{ 'header-component.logout' | translate }}</span>
  </p>
</mat-toolbar>
