<div class="title-line">
  <h1>{{ 'employee.employee-overview-component.table-title' | translate }}</h1>
  <div class="title-buttons">
    <a mat-flat-button id="mitarbeiter-verifizierung">
      <mat-icon>help_outline</mat-icon>
      {{ 'employee.employee-overview-component.employee-verification-button' | translate }}
    </a>
    <button type="button" mat-flat-button id="add-employee-button" (click)="goToAddEmployee()">
      <mat-icon>add</mat-icon>{{ 'employee.employee-overview-component.table-add-button' | translate }}
    </button>
  </div>
</div>

<mat-tab-group animationDuration="0ms" (selectedTabChange)="tabClick($event)">
  <mat-tab
    label="{{ 'employee.employee-overview-component.table-tab-invited' | translate }} ({{
      sum.EMPTY + sum.OPEN + sum.PENDING
    }})"
  ></mat-tab>
  <mat-tab
    label="{{ 'employee.employee-overview-component.table-tab-active' | translate }} ({{ sum.ACCEPTED }})"
  ></mat-tab>
  <mat-tab
    label="{{ 'employee.employee-overview-component.table-tab-all' | translate }} ({{
      sum.OPEN + sum.PENDING + sum.ACCEPTED + sum.CANCELLED + sum.REVOKED + sum.EMPTY
    }})"
  ></mat-tab>
</mat-tab-group>

<div class="table-row">
  <div class="table-header-row">
    <div class="search-row">
      <mat-toolbar class="search-icon-toolbar" [class.hidden]="hideSearchRow">
        <mat-toolbar-row class="mat-toolbar-row">
          <button mat-icon-button (click)="openSearch()">
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-toolbar class="search-block" [class.hidden]="!hideSearchRow">
        <mat-toolbar-row class="mat-toolbar-row">
          <button class="search-icon" mat-icon-button disabled>
            <mat-icon>search</mat-icon>
          </button>
          <input
            class="search-control"
            type="text"
            placeholder=" {{ 'employee.employee-overview-component.table-search' | translate }}"
            (keyup)="applyFilter($event)"
            [(ngModel)]="searchText"
            #searchBar
          />
          <button mat-button mat-icon-button (click)="searchClose()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="referenceNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'employee.employee-overview-component.table-headers.reference-number' | translate }}
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.employeeId }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'employee.employee-overview-component.table-headers.first-name' | translate }}
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'employee.employee-overview-component.table-headers.last-name' | translate }}
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'employee.employee-overview-component.table-headers.location' | translate }}
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.location }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'employee.employee-overview-component.table-headers.status' | translate }}
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.status }}</td>
    </ng-container>
    <ng-container matColumnDef="actionMenu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let employee" align="right">
        <span
          *ngIf="employee.status !== 'ACCEPTED'"
          id="download-email-button"
          class="material-icons-outlined"
          attr.aria-label="{{
            'employee.employee-overview-component.table-headers.action-menu.downlod-employee-email' | translate
          }}"
          (click)="downloadEmployeeEmailInvitation(employee.referenceNumber)"
        >
          <mat-icon class="mat-icon-action">download</mat-icon>
        </span>
        <span
          *ngIf="employee.status === 'ACCEPTED'"
          id="delete-employee-button"
          attr.aria-label="{{
            'employee.employee-overview-component.table-headers.action-menu.delete-employee' | translate
          }}"
          role="button"
          tabindex="0"
          (click)="openDeleteEmployeeDialog(employee.accreditationId)"
        >
          <mat-icon class="mat-icon-action">delete</mat-icon>
        </span>
        <mat-icon
          id="show-employee-details-button"
          class="mat-icon-action"
          aria-hidden="false"
          attr.aria-label="{{
            'employee.employee-overview-component.table-headers.action-menu.go-to-employee-details' | translate
          }}"
          (click)="goToEmployeeDetails(employee.employeeId)"
          >chevron_right</mat-icon
        >
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">
        {{ 'employee.employee-overview-component.empty-table-message' | translate }}
        <span *ngIf="searchBar.value">"{{ searchBar.value }}"</span>
      </td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataSourceLength" [pageSize]="5"></mat-paginator>
</div>
